* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.homepage {
    background-color: rgb(235, 235, 235);
    height: 100vh;
}

.image {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/images/mainBackground.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    color: black;
}

.activeNav {
    position: relative;
}

.activeNav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(4, 115, 234);
    left: 0;
    margin-top: 28px;
}

.activeLink {
    background-color: rgba(141, 187, 234, 0.5);
    ;
    border-bottom: 3px solid rgb(4, 115, 234);
    padding: 0 10px;
}

.button1 {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button1:hover {
    background-color: blue;
    color: white;
}

/* .active {
    color: rgb(61, 61, 61);
} */

.backgroundText {
    padding-top: 20%;
}

.jobs {
    display: grid;
    grid-template-columns: 1fr;
}

.jobsList {
    grid-column: 1;
    height: auto;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.jobsDescription {
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: white;
    z-index: 1;
}

.company {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 5px;
}

.search {
    grid-column: 1;
    height: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.companiesDescription {
    grid-column: 2;
    top: 0%;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: white;
    z-index: 1;
}

@media screen and (min-width: 765px) and (max-width: 964px) {
    .jobs {
        display: grid;
        grid-template-columns: 450px 1fr;
    }

    .jobsList {
        grid-column: 1;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .jobsDescription {
        grid-column: 2;
        position: relative;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
}

@media screen and (min-width: 850px) {
    .backgroundText {
        padding-top: 15%;
    }


    .laptop {
        height: "400px";
        width: "400px";
        border-radius: "50%";
        overflow: "hidden",
    }

}

@media screen and (min-width: 965px) {
    .input1 {
        width: 38%;
        outline: none;
    }

    .firstSearch {
        margin-top: -90px;
    }

    .jobs {
        display: grid;
        grid-template-columns: 450px 1fr;
    }

    .jobsList {
        grid-column: 1;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .jobsDescription {
        grid-column: 2;
        position: relative;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
}

.firstCard {
    background-color: rgb(124, 181, 234);
}

.secondCard {
    background-color: rgb(234, 200, 124);
}

.thirdCard {
    background-color: rgb(206, 167, 217);
}

.fourthCard {
    background-color: rgb(139, 227, 198);
}

.jobsCategory {
    background-color: rgb(243, 248, 249);
}

.jobsCategory:hover {
    background-color: rgb(33, 96, 231);
    transition: 0.5s ease-in-out;
}

.testimonialCard {
    background-color: rgb(243, 247, 253);
    border-bottom: '10px';
    border-bottom-color: blue;
}

.slider {
    position: relative;
}

.slider::before {
    content: '';
    width: 250px;
    height: 500px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    background: rgb(209, 229, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: 50px;
}


@media screen and (min-width: 965px) {
    .slider {
        position: relative;
    }

    .slider::before {
        content: '';
        width: 250px;
        height: 500px;
        border-top-right-radius: 250px;
        border-bottom-right-radius: 250px;
        background: rgb(209, 229, 255);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin-top: 100px;
    }

    .slider::after {
        content: '';
        width: 300px;
        height: 450px;
        border-radius: 20px;
        background-color: #1D4ED8;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 32px;
        display: flex;
        justify-content: end;
        align-items: end;
        z-index: -1;
        margin-top: 40px;
    }
}

.candidate {
    position: relative;
}

.candidate::before {
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    margin-top: 50px;
    background-color: white;
}

.background {
    background: linear-gradient(#000000e6, rgba(0, 0, 0, 0.5)), url("/assets/images/secondBackground.jpg");
    background-position: end;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.activeJob {
    position: relative;
}

.activeJob::after {
    content: '';
    position: absolute;
    top: 34px;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: #1D4ED8;

}

.activeActivityPage {
    position: relative;
}

.activeActivityPage::after {
    content: '';
    position: absolute;
    margin-top: 100px;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: #1D4ED8;

}

.profileHeader {
    position: relative;

}

.profileHeader::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 10px;
    background-color: #1D4ED8;
    margin-top: 4px;
    margin-right: 5px;
    border-radius: 10px;
}

.formModals {
    width: 350px;
    height: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profilePhoto {
    height: auto;
}

@media screen and (min-width: 576px) {
    .formModals {
        width: 580px;
        height: 70vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .profilePhoto {
        height: 90vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 765px) {
    .formModals {
        width: 750px;
        height: 80vh;
    }
}

.headerImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100vh;
}

.lists-item {
    border-bottom: 1px solid #d1d5db;
    position: relative;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .item-left {
        gap: 32px;
    }
}

.icon-close {
    font-size: 20px;
    color: #1f2937;
}

.item-text {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    line-height: 1.2;
}

.icon-menu {
    font-size: 20px;
    color: #1f2937;
}

/* login page */
.login {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/loginBackground.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.or {
    position: relative;
}

.or::before {
    content: '';
    position: absolute;
    overflow: hidden;
    width: 40%;
    height: 1px;
    background-color: rgb(155, 155, 155);
    margin-top: 18px;
    margin-left: -130px;
}

.or::after {
    content: '';
    position: absolute;
    overflow: hidden;
    width: 40%;
    height: 1px;
    background-color: rgb(155, 155, 155);
    margin-top: 18px;
    margin-left: 15px;
}

input:active {
    background: #709ce2;
}